<web-app>

   <!-- General description of your Web application -->
   <display-name>
      Project 3 Enterprise Systems Servlet/JSP Home Page (CNT 4714 - Summer 2021)
   </display-name>

   <description>
      Name: Andrew Tuazon
      Course: CNT 4714–Summer2021–Project Three
      Assignment title: A Three-Tier Distributed Web-Based Application
      Date: Sunday August 1, 2021
      This is the Web application in which we 
      demonstrate our JSP and Servlet examples.
   </description>

   <!-- Servlet definitions -->
   <servlet>
      <servlet-name>alpha</servlet-name>
      <description>
         A servlet that handles HTTP requests.
      </description>
      <servlet-class> MySQLServlet </servlet-class>
      <init-param>
    		   <param-name>databaseDriver</param-name>
    	 	   <param-value>com.mysql.cj.jdbc.Driver</param-value>
    		</init-param>
    		
    		<init-param>
    		    <param-name>databaseName</param-name>
    		    <param-value>jdbc:mysql://localhost:3306/project3</param-value>
    		</init-param>
    		
    		<init-param>
            <param-name>username</param-name>
    	    	<param-value>root</param-value>
    		</init-param>
    		
    		<init-param>
    		    <param-name>password</param-name>
    		    <param-value>#Gomeedley100</param-value>
    		</init-param>
   </servlet>

   <!-- Servlet mappings -->
   <servlet-mapping>
      <servlet-name>alpha</servlet-name>
      <url-pattern>/MySQLServlet</url-pattern>
   </servlet-mapping>

</web-app>